.icon{
  margin-right: 0.25rem;
}

.ingredient-icon{
  color: green;
  margin-right: 0.1em;
}

.ingredients-heading-icon{
  margin-right: 0.1rem;
  font-size: 1.8rem;
}

.cog-icon{
  font-size: 0.7rem;
}

.description{
  margin-bottom: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.recipe-title{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.dropdown-menu-container{
  margin-top: 1rem;
}