<div class="shopping-list-container">
  <div class="alert-container" *ngIf="alert.isCallingApi">
    <div class="alert alert-info" role="alert">
      {{ alert.message
      }}<button
        type="button"
        class="btn btn-danger close-alert"
        (click)="onCloseAlert()"
      >
        x
      </button>
    </div>
  </div>

  <!--   <div class="shopping-lists-viewer">
    <h2>Saved Lists</h2>
    <div style="cursor: pointer">
      <ul class="list-group">
        <a class="list-group-item" [style]="shoppingListId === list.id ? 'background: dodgerblue; color: white; font-weight: bold' : ''" *ngFor="let list of shoppingLists" (click)="onLoadList(list.id)">{{ list.id }}</a>
      </ul>
    </div>
  </div> -->

  <div class="row form-and-shopping-list">
    <div class="col-md-12">
      <h1 class="main-heading-1">
        <span class="glyphicon glyphicon-cog heading-icon"></span> Manage Lists
      </h1>

      <app-shopping-lists 
      [onLoadList]="onLoadList" 
      [onDeleteList]="onDeleteList" 
      [shoppingLists]="shoppingLists"
      [shoppingListId]="shoppingListId"
      >
      </app-shopping-lists>

      <div class="shopping-list-saver" *ngIf="shoppingListNameEditorIsOpen">
        <form #f="ngForm" (ngSubmit)="onSaveShoppingList(f)">
          <input
            class="form-control"
            type="text"
            name="listName"
            placeholder="Enter shopping list name"
            required
            minlength="3"
            #shoppingListName
            [(ngModel)]="shoppingListId"
          />
          <button class="btn btn-default shopping-list-name-save-confirm" type="submit" [disabled]="!f.valid"><span class="glyphicon glyphicon-cloud-upload"></span>Save List As</button>
          <button class="btn btn-danger shopping-list-name-save-cancel" type="button" (click)="onCancelNameEdit()">Cancel</button>
        </form>
      </div>

      <div class="button-actions">
        <button
          type="button"
          class="btn btn-default"
          (click)="toggleShoppingListNameEditorVisibility()"
          [disabled]="shoppingListNameEditorIsOpen"
        >
          <span class="glyphicon glyphicon-pencil"></span> Edit List Name
        </button>
        <button type="button" class="btn btn-default" (click)="onSaveShoppingList()" [disabled]="!shoppingListId || shoppingListNameEditorIsOpen"><span class="glyphicon glyphicon-cloud-upload"></span>Save List</button>
        <button class="btn btn-danger" type="button" (click)="onClearList()">
          <span class="glyphicon glyphicon-erase"></span>Clear List
        </button>
      </div>
      <hr />
      <app-shopping-edit [shoppingListNameEditorIsOpen]=" shoppingListNameEditorIsOpen"></app-shopping-edit>
      <hr />
      <p>
        <span class="instructions"
          >Click an item on the shopping list to edit or delete it. Save list if you wish to store it.</span
        >
      </p>
    </div>
    <div class="col-md-10">
      <h1 class="main-heading-2">
        <span class="glyphicon glyphicon-shopping-cart heading-icon"></span>
       {{ shoppingListId || 'Shopping List'}}
      </h1>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)"
        >
          <span class="glyphicon glyphicon-grain sub-icon"></span
          >{{ ingredient.name }} - {{ ingredient.amount }}
        </a>
        <ul
          class="empty-list-message list-group"
          *ngIf="ingredients.length === 0"
        >
          <p class="list-group-item">
            No items in shopping list. How about you add one or select a list from the lists folder?
          </p>
        </ul>
      </ul>
    </div>
  </div>
</div>
