<div class="row">
  <div class="col-xs-10">
    <div class="button-actions">
      <button type="button" class="btn btn-default" (click)="onSaveShoppingList()"><span class="glyphicon glyphicon-cloud-upload"></span>Save List</button>
      <button type="button" class="btn btn-default" (click)="onLoadShoppingList()"><span class="glyphicon glyphicon-cloud-download"></span>Fetch List</button>
      <button class="btn btn-danger" type="button" (click)="onClearList()"><span class="glyphicon glyphicon-erase"></span>Clear List</button>
    </div>
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
