.lists-icon{
  margin: 0.2rem;
}

.dropdown-toggle{
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
}

.shopping-list-dropdown{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.shopping-list-dropdown li{
  font-size: 1.15rem;
}

.shopping-list-dropdown li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-list-name-save-confirm{
  margin: 0.3rem 0 0.5rem 0;
}

.shopping-list-name-save-cancel{
  margin: 0.3rem 0 0.5rem 0.5rem;
}

.delete-list-btn{
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}